<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.thecoders.smarttable">

    <application
        android:name=".SmartTableApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.CreateHomeworkActivity"
            android:label="New Homework"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.CreateSubjectActivity"
            android:label="New Subject"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.CreateExamActivity"
            android:label="New Exam"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ModifyDayActivity"
            android:label="Modify Day"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.EditSubjectActivity"
            android:label="Edit Subjects"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.thecoders.smarttable.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.EditHomeworkActivity"
            android:label="@string/title_activity_edit_homework"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.thecoders.smarttable.ui.activities.MainActivity" />
        </activity>
    </application>

</manifest>